@inherits LayoutComponentBase

<PageTitle>ReStack</PageTitle>

@if (ShowAlert)
{
    <div class="fixed top-0 end-0 start-0 z-50 bg-amber-100 p-4" @onclick="HideAlert">
        <div class="text-center">
            Live updates are currently <span class="font-bold">not</span> shown, try <a href="javascript:window.location.href=window.location.href" class="link font-bold">refreshing</a> the page. Or <span class="font-bold">click</span> on this message to hide it.
        </div>
    </div>
}

<main class="page">

    <div class="relative overflow-none">
        @Body
    </div>

</main>