@page "/settings"
@page "/settings/{QueryPanel}"

@inherits BaseComponent

<PageTitle>Settings - ReStack</PageTitle>

<Page @ref="Page">
    <div class="flex flex-wrap justify-between items-start mb-6">
        <h1 class="md:text-3xl text-xl">Settings</h1>
    </div>

    <PanelSelector QueryPanel="@NavigationManager.Uri">
        <SshPanel Title="Ssh" Sequence="1" />
        <ReStack.Web.Pages.Settings.Panels.TagsPanel Title="Tags" Sequence="2" />
    </PanelSelector>

</Page>