@inherits Panel

@if (Visible)
{
    <div class="flex justify-between items-start">
        <div>
            <h2 class="text-xs font-bold mb-4">Ignore rules</h2>
            <p class="mt-2 mb-3 text-xs italic">Below you can enter a regex value that will ignore errors written to the std-err source. If the regex matches, the log will be marked as info.</p>
        </div>
        <div>
            <button @onclick="Add" class="btn-secondary !p-2 !text-xs">Add</button>
        </div>
    </div>

    <div class="">
        <div class="flex gap-2 items-baseline text-2xs mt-2 mb-1">
            <div class="w-full">
                <p>Regex</p>
            </div>
            <div class="min-w-20 text-center">
                <p>Enabled</p>
            </div>
            <div class="min-w-10 text-center">
                <p>Delete</p>
            </div>
        </div>

        <div class="max-h-60 overflow-auto">
            @if (Stack.IgnoreRules.Count != 0)
            {
                @foreach (var rule in Stack.IgnoreRules)
                {
                    <div class="flex gap-2 items-baseline">
                        <InputText @bind-Value="rule.Value" class="block h-[2rem] mt-2 w-full bg-gray-200 dark:bg-neutral-600 text-gray-700 dark:text-gray-100 text-sm rounded py-2 md:py-3 focus:bg-white focus:border-gray-500 focus:ring-0" />
                        <label class="min-w-20 text-center">
                            <InputCheckbox @bind-Value="rule.Enabled" class="accent-red-500" />
                        </label>
                        <div @onclick="async() => await Delete(rule)" class="min-w-10 text-center cursor-pointer">
                            <span><Icon Type="FontAwesomeIcons.Xmark" Size="IconSize.Sm" /></span>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="w-full h-full flex justify-center items-center min-h-20">
                    <p class="text-sm md:text-md">No rules found, go <button @onclick="Add" class="link">add</button> your first one!</p>
                </div>
            }
        </div>
    </div>
}