@inherits Panel

@if (Visible)
{
    <h2 class="text-xs font-bold mb-4">Tags</h2>

    @if (Tags is null || !Tags.Any())
    {
        <p class="text-xs">No tags found, go <a href="@NavigationManager.Settings()" class="link">add</a> one.</p>
    }
    else
    {
        <div class="flex flex-wrap">
            @foreach (var tag in Tags)
            {
                <div class="mb-2 w-full md:w-1/2">
                    <label class="flex items-center justify-start">
                        <InputCheckbox Value="Stack.Tags.Any(x => x.Id == tag.Id)"
                                       ValueChanged="async(v) => await TagToggle(v, tag)"
                                       ValueExpression="() => _"
                                       class="me-2 accent-red-500" />
                        <span class="inline-flex items-center rounded-md px-2 py-1 text-2xs text-white font-bold" style="background: @tag.HexColor;">@tag.Name</span>
                    </label>
                </div>
            }
        </div>
    }
}