@inherits BaseComponent

<h1 class="text-2xl mb-4">
    Add tag
</h1>

<div class="relative w-full">

    <EditForm EditContext="EditContext" OnSubmit="Save">

        <DataAnnotationsValidator />

        <Loader Visible="IsLoading" />

        <label class="mb-4 inline-block w-full">
            <span>Name</span>
            <InputText @bind-Value="Tag.Name" class="block mt-2 w-full bg-gray-300 dark:bg-neutral-700 text-gray-700 dark:text-gray-100 text-sm rounded py-2 md:py-3 focus:bg-white focus:border-gray-500 focus:ring-0" />
        </label>

        <label class="mb-4 inline-block w-full">
            <span>Color</span>
            <input type="color" @bind-value="@Tag.HexColor" class="h-[44px] block mt-2 w-full bg-gray-300 dark:bg-neutral-700 text-gray-700 dark:text-gray-100 text-sm rounded p-2" />
        </label>


        @if (Validations.Any())
        {
            <div class="border border-red-500 rounded overflow-auto mt-4 text-2xs" style="max-height: 20rem; overflow: auto;">

                <p class="bg-red-600 p-2 text-xs">Error(s)</p>

                @foreach (var validation in Validations)
                {
                    <div class="p-2">
                        <p class="text-3xs">@validation.Key:</p>
                        @foreach (var value in validation.Value)
                        {
                            <p class="px-1 py-2 text-2xs">@value</p>
                        }
                    </div>
                }
            </div>
        }

        <div class="flex items-center justify-between gap-2 mt-8" role="group">
            <button type="submit" class="w-full btn-primary" disabled="@IsLoading">Save</button>
            <button type="button" class="w-full btn-secondary" @onclick="Cancel">Cancel</button>
        </div>

    </EditForm>
</div>