<h4 class="md:text-2xl text-xl mb-4">@Title</h4>

@if (!string.IsNullOrWhiteSpace(Body))
{
    <p class="mb-4 text-sm">@Body</p>
}

<div class="flex items-center justify-between gap-2 mt-8" role="group">
    <button type="button" class="w-full btn-primary" @onclick="AnswerYes">Yes</button>
    <button type="button" class="w-full btn-secondary" @onclick="AnswerNo">No</button>
    <button type="button" class="w-full btn-secondary" @onclick="AnswerCancel">Cancel</button>
</div>
